#Rodar o código no terminal com o comando:
python -m APP.main

# Requisições HTTP para buscar capas online:
pip install requests

# Requisições HTTP para buscar capas online:
pip install beautifulsoup4

#Instalações necessárias:
pip install kivy
